<!-- 侧边栏 -->
<div class="five wide column">
  <!-- 文章目录 -->
  <% if(is_post()){ %>
  <%- partial('_partial/toc') %>
  <% } %>



  <div class="ui segment background-thin-yellow">
    <div class="ui segment background-title-red padding-title">
      <h4 class="header ">文章分类：</h4>
    </div>
    <div class="row-flex flex-wrap categories-lists">
      <% site.categories.each(function(item) { %>
      <a href="<%- url_for(item.path) %>" class="category-tab"><%=item.name%></a>
      <% }) %>
      <a class="category-tab" id="category-next"><i class="angle double right icon"></i>更多</a>
    </div>
  </div>

  <div class="ui segment background-thin-yellow">
    <div class="ui segment background-title-red padding-title">
      <h4 class="header ">文章标签：</h4>
    </div>
    <div class="row-flex flex-wrap tabs-lists">
      <% site.tags.each(function(item) { %>
      <a href="<%- url_for(item.path) %>" class="category-tab"><%=item.name%></a>
      <% }) %>
      <a class="category-tab" id="tab-next"><i class="angle double right icon"></i>更多</a>
    </div>
  </div>
</div>
<!-- 不要删，下面这两个不是多余的，它是文章列表和侧边栏布局的div结尾标签 -->
